*{
    margin:0;
    padding:0;
}
body{
    background-color: aqua;
    width:100vw;
    overflow-x: hidden;
    position:relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
header{
    height:10vh;
    display:flex;
    align-items: center;
    padding-left: 1vw;
    color: white;
}
header.h1{
    justify-self: center;
    display:flex;
}
#logo{
    height:80%;
}
#background{
    position:fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    background-size:cover;
    background-image: url("poster.jpg");
    z-index: -1;
    background-repeat: no-repeat;
}
.content{
    width: 70vw;
    min-height: 100vh;
    margin-left: 10vw;
    margin-right:10vw;
    margin-top:2vw;
    padding:2vw;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    
}
.section{
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
iframe{
    padding:0;
    width:50vw;
    height:25vw;
}
#information{
    padding: 10vh;
}
footer{
    position:relative;
    display:block;
    height:50px;
    width: 100vw;
    left:0;
    bottom:0;
    background-color: rgb(29, 29, 48);
    color:white;
    padding:2vw;
}
ul{
    margin-left:2vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
p{
    margin-bottom:2vw;
}
#important-links{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
#importantLinks li{
    text-align:center;
    display:inline-block;
    
}